.DS_Store
.sass
.vagrant
.tmp
bower_components
node_modules
chrome_package
release/*
!release/.gitkeep

*.sublime-project
*.sublime-workspace
*.box
Gemfile.lock
.sass-cache
.idea
Movefile

*.sql
*.map

*.crx